[AICODER_UI] {
  //  按钮样式
  [ButtonList] {
    .CommonClass {
      font-size: 14px;
      color: #fff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .Btn-defaultStyle {
      color: #000;
      background-color: #fff;
      border: 1px solid #ccc;
      &:hover {
        color: #18dcff;
        border: 1px solid #18dcff;
      }
    }
    .is-success {
      background-color: #20bf6b;
      &:hover {
        background-color: #26de81;
      }
    }
    .is-info {
      background-color: #0fb9b1;
      &:hover {
        background-color: #2bcbba;
      }
    }
    .is-danger {
      background-color: #eb3b5a;
      &:hover {
        background-color: #fc5c65;
      }
    }
    .is-warning {
      background-color: #f7b731;
      &:hover {
        background-color: #fed330;
      }
    }
  }
  //  文本框样式
  [InputList] {
    .AllInputStyle {
      width: 185px;
      height: 30px;
      padding-left: 1em;
      border-radius: 3px;
      outline-color: #17c0eb;
      border: 1px solid #ccc;
    }
    .ClearInput {
      width: 185px;
      position: relative;
      .clearBtn {
        position: absolute;
        right: -10px;
        top: 9px;
        cursor: pointer;
        display: none;
      }
      .showClearInput {
        display: block;
      }
    }
    .PasswordInput {
      width: 185px;
      position: relative;
      .passwordBtn {
        position: absolute;
        right: -10px;
        top: 9px;
        cursor: pointer;
      }
    }
    .SearchInput {
      position: relative;
      .searchinput {
        border-radius: 3px 0 0 3px;
        border-right: none;
      }
      .SearchBtn {
        position: absolute;
        display: inline-block;
        height: 34px;
        width: 50px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #0abde3;
        cursor: pointer;
        text-align: center;
        line-height: 34px;
        .SearchBtnFont {
          color: #fff;
        }
      }
    }
  }
  // 折叠面板容器样式
  [Collapse] {
    border: 1px solid #a4b0be;
    border-radius: 3px;
    width: 240px;
    overflow: hidden;
  }
  // 简洁面板模式样式
  [fanCollapse] {
    border-top: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    width: 240px;
    overflow: hidden;
    [aicoder_ui] {
      [panellist] {
        .titlePanel {
          background-color: #fff;
        }
        .PanelMenu:last-child {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  // 折叠面板项样式
  [PanelList] {
    .titlePanel {
      height: 38px;
      width: 180px;
      padding-left: 60px;
      line-height: 38px;
      background-color: #dfe4ea;
      border-bottom: 1px solid #ccc;
      position: relative;
      cursor: pointer;
      .PanelFont {
        position: absolute;
        left: 25px;
      }
    }

    .PanelMenu {
      height: 150px;
      width: 238px;
      border-top: none;
      .MenuText {
        overflow: hidden;
        width: 218px;
        height: 100%;
        margin: 0 10px;
        padding-top: 10px;
      }
    }

    .bounce-enter-active,
    .bounce-leave-active {
      transition: height 0.6s;
    }
    .bounce-enter,
    .bounce-leave-to {
      height: 0;
    }
  }
}

// 字体文件样式
@font-face {
  font-family: "iconfont";
  src: url("./AI-ui-font/iconfont.eot?t=1563420894692"); /* IE9 */
  src: url("./AI-ui-font/iconfont.eot?t=1563420894692#iefix")
      format("embedded-opentype"),
    url("./AI-ui-font/iconfont.woff?t=1563420894692") format("woff"),
    url("./AI-ui-font/iconfont.ttf?t=1563420894692") format("truetype"),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
      url("./AI-ui-font/iconfont.svg?t=1563420894692#iconfont") format("svg"); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6a3";
}

.icon-jiantouxia:before {
  content: "\e63b";
}

.icon-jiantouyou:before {
  content: "\e63c";
}

.icon-Xtubiao-chakan:before {
  content: "\e637";
}

.icon-Xtubiao-guanbichakan:before {
  content: "\e638";
}

.icon-shanchu:before {
  content: "\e613";
}
