[AICODER_UI] [ButtonList] .CommonClass {
  font-size: 14px;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

[AICODER_UI] [ButtonList] .Btn-defaultStyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

[AICODER_UI] [ButtonList] .Btn-defaultStyle:hover {
  color: #18dcff;
  border: 1px solid #18dcff;
}

[AICODER_UI] [ButtonList] .is-success {
  background-color: #20bf6b;
}

[AICODER_UI] [ButtonList] .is-success:hover {
  background-color: #26de81;
}

[AICODER_UI] [ButtonList] .is-info {
  background-color: #0fb9b1;
}

[AICODER_UI] [ButtonList] .is-info:hover {
  background-color: #2bcbba;
}

[AICODER_UI] [ButtonList] .is-danger {
  background-color: #eb3b5a;
}

[AICODER_UI] [ButtonList] .is-danger:hover {
  background-color: #fc5c65;
}

[AICODER_UI] [ButtonList] .is-warning {
  background-color: #f7b731;
}

[AICODER_UI] [ButtonList] .is-warning:hover {
  background-color: #fed330;
}

[AICODER_UI] [InputList] .AllInputStyle {
  width: 185px;
  height: 30px;
  padding-left: 1em;
  border-radius: 3px;
  outline-color: #17c0eb;
  border: 1px solid #ccc;
}

[AICODER_UI] [InputList] .ClearInput {
  width: 185px;
  position: relative;
}

[AICODER_UI] [InputList] .ClearInput .clearBtn {
  position: absolute;
  right: -10px;
  top: 9px;
  cursor: pointer;
  display: none;
}

[AICODER_UI] [InputList] .ClearInput .showClearInput {
  display: block;
}

[AICODER_UI] [InputList] .PasswordInput {
  width: 185px;
  position: relative;
}

[AICODER_UI] [InputList] .PasswordInput .passwordBtn {
  position: absolute;
  right: -10px;
  top: 9px;
  cursor: pointer;
}

[AICODER_UI] [InputList] .SearchInput {
  position: relative;
}

[AICODER_UI] [InputList] .SearchInput .searchinput {
  border-radius: 3px 0 0 3px;
  border-right: none;
}

[AICODER_UI] [InputList] .SearchInput .SearchBtn {
  position: absolute;
  display: inline-block;
  height: 34px;
  width: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #0abde3;
  cursor: pointer;
  text-align: center;
  line-height: 34px;
}

[AICODER_UI] [InputList] .SearchInput .SearchBtn .SearchBtnFont {
  color: #fff;
}

[AICODER_UI] [Collapse] {
  border: 1px solid #a4b0be;
  border-radius: 3px;
  width: 240px;
  overflow: hidden;
}

[AICODER_UI] [fanCollapse] {
  border-top: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-radius: 3px;
  width: 240px;
  overflow: hidden;
}

[AICODER_UI] [fanCollapse] [aicoder_ui] [panellist] .titlePanel {
  background-color: #fff;
}

[AICODER_UI] [fanCollapse] [aicoder_ui] [panellist] .PanelMenu:last-child {
  border-bottom: 1px solid #ccc;
}

[AICODER_UI] [PanelList] .titlePanel {
  height: 38px;
  width: 180px;
  padding-left: 60px;
  line-height: 38px;
  background-color: #dfe4ea;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

[AICODER_UI] [PanelList] .titlePanel .PanelFont {
  position: absolute;
  left: 25px;
}

[AICODER_UI] [PanelList] .PanelMenu {
  height: 150px;
  width: 238px;
  border-top: none;
}

[AICODER_UI] [PanelList] .PanelMenu .MenuText {
  overflow: hidden;
  width: 218px;
  height: 100%;
  margin: 0 10px;
  padding-top: 10px;
}

[AICODER_UI] [PanelList] .bounce-enter-active,
[AICODER_UI] [PanelList] .bounce-leave-active {
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
}

[AICODER_UI] [PanelList] .bounce-enter,
[AICODER_UI] [PanelList] .bounce-leave-to {
  height: 0;
}

@font-face {
  font-family: "iconfont";
  src: url("./AI-ui-font/iconfont.eot?t=1563420894692");
  /* IE9 */
  src: url("./AI-ui-font/iconfont.eot?t=1563420894692#iefix") format("embedded-opentype"), url("./AI-ui-font/iconfont.woff?t=1563420894692") format("woff"), url("./AI-ui-font/iconfont.ttf?t=1563420894692") format("truetype"), url("./AI-ui-font/iconfont.svg?t=1563420894692#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6a3";
}

.icon-jiantouxia:before {
  content: "\e63b";
}

.icon-jiantouyou:before {
  content: "\e63c";
}

.icon-Xtubiao-chakan:before {
  content: "\e637";
}

.icon-Xtubiao-guanbichakan:before {
  content: "\e638";
}

.icon-shanchu:before {
  content: "\e613";
}
/*# sourceMappingURL=style.css.map */